body {
  background-color: black;
  align-items: center;
}

.variable {
  color: #800080;
}

.operadores {
  color: #98fb98;
}

.numero {
  color: #dda0dd;
}

.especiales {
  color: #cd853f;
}

.comentarios {
  color: #b0e0e6;
}

.reservadas {
  color: #d87093;
}
