.variable {
  color: purple;
}

.operadores {
  color: palegreen;
}

.numero {
  color: plum;
}

.especiales {
  color: peru;
}

.comentarios {
  color: powderblue;
}

.reservadas {
  color: palevioletred;
}
